<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="container">
    <h1>Teams</h1>
    <h3><%= message %></h3>
    <table class="team-list">
        <thead>
            <th class="team-title">Nom</th>
            <th class="team-title">Pokemons</th>
            <th class="team-title">Gestion</th>
        </thead>
        <tbody>
            <%if (lists) {%>
                <% for(const list of lists) { %>
                 <tr>
                     <td>
                         <a href="/team/<%=list.id%>">   <p><%= list.name %></p></a>
                     </td>
                     <td>
                         <%if (list.pokemonsDeck.length) { %>
                            <% for(const pokemon of list.pokemonsDeck){ %>
                                <img src="/img/<%=pokemon.dataValues.id%>.png" alt="">
                                <%}%>
                            <%}%>
                     </td>
                     <td>
                        <form action="/mylist/<%=list.id%>" method="POST"onsubmit="return validate(this);">
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary"><img src="/img/trash.png"></button>
                            </div>
                            </form>
                     </td>
                 </tr>
                <%  } %>
            <% } %>
        </tbody>
    </table>    

    
</div>
<hr>
<div class="container">

    <%- include('partials/gestionList', {lists}) %>
</div>
<%- include('partials/footer') %>