<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="container">
    <h1>Recherche par Type: <span class="search-type" style="background-color: #<%=type.color%>;"><%=type.name%></span></h1>
    <div class="cards">
        <% for(let pokemon of type.pokemons) { %>
            <div class="card">
                <a href="/pokemon/<%=pokemon.numero%>">
                <img src="/img/<%=pokemon.numero%>.png" class="card-img"/>
                <div class="card-name">
                        <span>#<%=pokemon.numero%></span>
                        <span><%=pokemon.nom%></span>
                    </div>
                </a>
                </div>
        <% } %>
    </div>
</div>

<%- include('partials/footer') %>